.left-gatetopography .one{
    background: #49A347;
}
.left-gatetopography .two{
    background: #202020;
    color: #fff;
}
.left-gatetopography .three{
    background: #CC0010;
    color: #fff;
}
.left-gatetopography .four{
    background: #C4C4C4;
    color: #000;
}
.left-gatetopography .five{
    background: #464646;
}