.left-microtopography .one{
    background: #000000;
}
.left-microtopography .two{
    background: #EAEAEA;
    color: #000;
}
.left-microtopography .three{
    background: #D7D7D7;
    color: #000;
}
.left-microtopography .four{
    background: #6E8B41;
}
.left-microtopography .five{
    background: #747C83;
}